
  
.text-center
  h1
    | Welcome...
    p.lead Really, you will love it inside. It&apos;s super great!
    strong
      i.fa.fa-thumbs-o-up.bamf
    | 
    br
  | Welcome
  br
  | Select any application from the left to try it.
  br
  | Or go to csyber > help to 
  br
  | Add more to this page...
  h1
    | ...ever welcome.
script.
  //$("a").click(function(){loadapp($(this));console.log("loading....")})