| I would like to meet you to discuss the latest news about the arrival of the new theme. They say it is going to be one the best themes on the market best themes on the market best themes on the market 
br.
| second line
br.
b Todo
br.
|	Contents for this page. Put in different file.
br.
| Setting the time on the top right corner
br.
| Loading applications

