
section#body1
  #overlay
  |         
  .padding.highlightable
    a#sidebar-toggle(href='#', data-sidebar-toggle='')
      i.fa.fa-2x.fa-bars
    |                         
    #top-bar
      #breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
        span(itemprop='title') Basics
    |             
    |             &#x9;
    #chapter
      #body-inner
        p
        h3#chapter-1
          | Chapter 1
          a.anchorjs-link(href='#chapter-1', aria-label='Anchor link for: chapter 1', data-anchorjs-icon='', style='font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: 1; padding-left: 0.375em;')
        h1 Basics
        p UserFrosting is a secure, modern user management system for PHP. 
        p
          | This is the documentation for UserFrosting 4.  If you are looking for documentation for previous versions of UserFrosting, please see 
          a(href='http://www.userfrosting.com/#get-started') here
          | .
        | &#x9;&#x9;&#x9;
        p
  |         &#x9;
  #navigation
    a.nav.nav-next(href='/basics/overview', style='margin-right: 0px;')
      i.fa.fa-chevron-right
