.row
  .col-lg-3.col-xs-6
    // small box
    .small-box.bg-green
      .inner
        h3
          | #{numfiles}
        |              
        p Files
      |             
      .icon
        i.ion.ion-laptop
      |             
      a.small-box-footer.tomanageapp(href='#')
        | Upload Files 
        i.fa.fa-arrow-circle-right
  // ./col
.row
  .col-lg-6
    .box.box-primary
      .box-header.ui-sortable-handle(style='cursor: move;')
        i.fa.fa-user.fa-fw
        |               
        h3.box-title Files
        |               
        .box-tools.pull-right
          button.btn.bg-teal.btn-sm(type='button', data-widget='collapse')
            i.fa.fa-minus
          |                 
          button.btn.bg-teal.btn-sm(type='button', data-widget='remove')
            i.fa.fa-times   
      .box-body 
        button.btn.btn-primary.uploadfilesstartbtn(type='button')
            i.fa.fa-trash
            |  Set plan details
        button.btn.btn-primary.uploadcsvstartbtn(type='button')
            i.fa.fa-trash
            |  Upload csv file
        button.btn.btn-primary.uploaddwgstartbtn(type='button')
            i.fa.fa-trash
            |  Upload DWG file
        
    //.box
  .col-lg-6
    .box.box-primary
      .box-header.ui-sortable-handle(style='cursor: move;')
        i.fa.fa-user.fa-fw
        |               
        h3.box-title Progress
        |               
        .box-tools.pull-right
          button.btn.bg-teal.btn-sm(type='button', data-widget='collapse')
            i.fa.fa-minus
          |                 
          button.btn.bg-teal.btn-sm(type='button', data-widget='remove')
            i.fa.fa-times   
      .box-body 
        table.table.table-condensed
          tbody
            tr
              th Plan
              |                   
              th Status
              |                   
              th Registry
              |                   
              th DOS
              |                   
              th Checker
              |      
            each element in myfiles
              tr
                td=element.planname
                |
                if element.status == "incomplete"
                  td.btn-danger=element.status
                else
                  td.btn-success=element.status
                |
                if element.registry == 1
                  td.btn-success
                    i.fa.fa-check
                else
                  if element.registry == 2
                    td.btn-danger
                      i.fa.fa-close
                  else
                    td.btn-primary
                      i.fa.fa-minus
                |
                if element.dos == 1
                  td.btn-success
                    i.fa.fa-check
                else
                  if element.dos == 2
                    td.btn-danger
                      i.fa.fa-close
                  else
                    td.btn-primary
                      i.fa.fa-minus
                |
                |
                if element.checker == 1
                  td.btn-success
                    i.fa.fa-check
                else
                  if element.checker == 2
                    td.btn-danger
                      i.fa.fa-close
                  else
                    td.btn-primary
                      i.fa.fa-minus
                |

    //.box

script.
  $(".uploadfilesstartbtn").click(function(){loaduploadform();})
  $(".uploadcsvstartbtn").click(function(){uploadcsvstart();})
  $(".uploaddwgstartbtn").click(function(){uploaddwgstart();})
  //$(".tomoduser").click(function(){moduser($(this).attr("chref"));})
  //$(".tomanageapp").click(function(){manageapp();})
  //$(".applistman").click(function(){manageapp();})

