center
  h1
    | 
    br
    | Welcome...
  | Welcome
  br
  | Select any application from the left to try it.
  br
  | Or go to csyber > help to 
  br
  | Add more to this page...
  h1
    | ...ever welcome.