.row
  .col-lg-3.col-xs-6
    // small box
    .small-box.bg-green
      .inner
        h3
          | 20
        |               
        p Files
      |             
      .icon
        i.ion.ion-laptop
      |             
      a.small-box-footer.tomanageapp(href='#')
        | Upload Files 
        i.fa.fa-arrow-circle-right
  // ./col
.row
  .col-lg-6
    .box.box-primary
      .box-header.ui-sortable-handle(style='cursor: move;')
        i.fa.fa-user.fa-fw
        |               
        h3.box-title Files
        |               
        .box-tools.pull-right
          button.btn.bg-teal.btn-sm(type='button', data-widget='collapse')
            i.fa.fa-minus
          |                 
          button.btn.bg-teal.btn-sm(type='button', data-widget='remove')
            i.fa.fa-times   
      .box-body 
        button.btn.btn-primary.uploadfilesstartbtn(type='button')
            i.fa.fa-trash
            |  Set plan details
        button.btn.btn-primary.uploadcsvstartbtn(type='button')
            i.fa.fa-trash
            |  Upload csv file
        button.btn.btn-primary.uploaddwgstartbtn(type='button')
            i.fa.fa-trash
            |  Upload DWG file
        
    //.box
  .col-lg-6
    .box.box-primary
      .box-header.ui-sortable-handle(style='cursor: move;')
        i.fa.fa-user.fa-fw
        |               
        h3.box-title Progress
        |               
        .box-tools.pull-right
          button.btn.bg-teal.btn-sm(type='button', data-widget='collapse')
            i.fa.fa-minus
          |                 
          button.btn.bg-teal.btn-sm(type='button', data-widget='remove')
            i.fa.fa-times   
      .box-body 
                     
            |   
    //.box

script.
  $(".uploadfilesstartbtn").click(function(){loaduploadform();})
  $(".uploadcsvstartbtn").click(function(){uploadcsvstart();})
  $(".uploaddwgstartbtn").click(function(){uploaddwgstart();})
  //$(".tomoduser").click(function(){moduser($(this).attr("chref"));})
  //$(".tomanageapp").click(function(){manageapp();})
  //$(".applistman").click(function(){manageapp();})

